# Java
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.project
.externalToolBuilders/
.cproject
.classpath

# JetBrains
*.iml
.idea/
/out/
/dist/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/node_modules/
/bower_components/
/.brackets.json
/npm-debug.log

src/*/css
coverage